* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  background: #2d3047;
  margin: 0;
}

a {
  text-decoration: none;
}

.debug {
  border: 1px solid red;
}

/*Header*/
header {
  min-height: 64px;
  background: #151621;
  width: 100%;
  display: flex;
  z-index: 3;
  position: sticky;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
}
header .item {
  width: 320px;
  display: inline-block;
  margin: 0;
  display: flex;
}
header .item h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #fffd82;
  margin: 0 30px;
  line-height: 48px;
}
header .item h1 span {
  color: #1b998b;
}
header .nav {
  min-width: 320px;
  max-width: calc(320px*2);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .nav .nav_item {
  width: 320px;
  display: flex;
  justify-content: flex-end;
}
header .nav .nav_item a {
  display: inline-block;
  padding: 32px 16px 0 16px;
  font-size: 1rem;
  margin: 0.5em;
  color: #fff;
}

/* Grid related things */
.grid_layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(16px, auto);
  grid-auto-flow: dense;
}

.grid_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.grid_item a {
  text-decoration: none;
  color: #fff;
}
.grid_item h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #fffd82;
}

.colspan-2 {
  grid-column-end: span 2;
}

.card {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.card h1 {
  font-size: 24px;
  text-align: center;
  height: 60px;
}
.card .imgbox {
  height: 400px;
}
.card .console_imgbox {
  height: 250px;
}
.card .console_imgbox,
.card .imgbox {
  width: 300px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.card .console_imgbox img,
.card .imgbox img {
  display: block;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card .year,
.card .consoles,
.card .publisher {
  text-align: center;
  margin: 5px 0 10px 0;
}
.card:hover .console_imgbox,
.card:hover .imgbox {
  filter: sepia(100%);
}

/* homepage */
#games,
#consoles {
  margin-top: 16px;
  margin-left: 64px;
  margin-bottom: 0px;
  min-width: 350px;
  max-width: calc(100% - 448px);
}

.game_wrapper,
.console_wrapper {
  background: #e84855;
  width: 100%;
  padding: 2px;
  margin-bottom: 0;
}
.game_wrapper h1,
.console_wrapper h1 {
  margin-left: 20px;
  font-size: 28px;
}
.game_wrapper label,
.console_wrapper label {
  display: inline-block;
  width: 120px;
  padding: 3px;
}
.game_wrapper form,
.console_wrapper form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.game_wrapper select,
.console_wrapper select {
  border: 1px solid #2d3047;
  background: #70b5ff;
  padding: 1px;
  width: 100px;
}
.game_wrapper .filters,
.console_wrapper .filters {
  color: #fffd82;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.game_wrapper .filter_list,
.console_wrapper .filter_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

/* Game Page */
#page_container {
  min-width: 350px;
  max-width: calc(100% - 448px);
  margin-left: 64px;
  display: flex;
  justify-content: center;
}

#games_container {
  min-width: 320px;
  max-width: 660px;
}
#games_container label {
  display: inline-block;
  width: 130px;
  color: #fffd82;
  padding: 3px;
}
#games_container label:first-of-type {
  margin-top: 16px;
}
#games_container .item_box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 320px;
  align-content: flex-start;
}
#games_container span {
  display: inline-block;
  width: 190px;
  padding: 3px;
}
#games_container span:first-of-type {
  margin-top: 16px;
}
#games_container p {
  text-align: justify;
}

.console_box {
  height: 250px;
  background: #fff;
}

.game_box {
  height: 450px;
}

.console_box,
.game_box {
  width: 300px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.console_box img,
.game_box img {
  display: block;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
