/* homepage */

#games,
#consoles {
	margin-top: 16px;
	margin-left: 64px;
	margin-bottom: 0px;
	min-width: 350px;
	max-width: calc(100% - 448px);
}

.game_wrapper,
.console_wrapper {
	background: $secondary_color;
	width: 100%;
	padding: 2px;
	margin-bottom: 0;

	h1 {
		margin-left: 20px;
		font-size: 24px;
	}

	label {
		display: inline-block;
		width: 135px;
		padding: 3px;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		align-content: flex-start;
	}

	select {
		border: 1px solid $primary_color;
		background: $tertiary_color;
		padding: 1px;
		width: 130px;
	}

	.filters {
		color: $secondary_text_color;
		font-size: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.filter_list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		align-content: flex-start;
	}

}

/* Game Page */

#page_container {
	min-width: 350px;
	max-width: calc(100% - 448px);
	margin-left: 64px;
	display: flex;
	justify-content: center;
}

#games_container {
	min-width: 320px;
	max-width: 660px;

	label {
		display: inline-block;
		width: 130px;
		color: $secondary_text_color;
		padding: 3px;

		&:first-of-type {
			margin-top: 16px;
		}
	}

	.item_box {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 320px;
		align-content: flex-start;
	}

	span {
		display: inline-block;
		width: 190px;
		padding: 3px;

		&:first-of-type {
			margin-top: 16px;
		}
	}

	p {
		text-align: justify;
	}

}

.console_box {
	height: 250px;
	background: #fff;
}

.game_box {
	height: 450px;
}

.console_box,
.game_box {
	width: 300px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;

	img {
		display: block;
		width: 100%;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}