/* Games */

#games,
#consoles {
	margin-top: 16px;
	margin-left: 64px;
	min-width: 350px;
	max-width: calc(100% - 448px);
}

.game_wrapper,
.console_wrapper {
	background: $secondary_color;
	font-size: 24px;
	width: 100%;

	h1 {
		margin-left: 20px;
	}
}