/* Grid related things */

.grid_layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(160px, auto);
	grid-auto-flow: dense;
}

.grid_item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.card {
	width: 300px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;

	h1 {
		font-size: 1.5em;
		text-align: center;
	}

	img {
		width: 300px;
		height: auto;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

	}

	.year,
	.consoles,
	.publisher {
		text-align: center;
		margin: 5px 0 10px 0;
	}

	&:hover {
		img {
			filter: sepia(100%);
		}

	}

}