/* Grid related things */

.grid_layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(16px, auto);
	grid-auto-flow: dense;
}

.grid_item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	a {
		text-decoration: none;
		color: $primary_text_color;
	}

	h1 {
		font-size: 3em;
		font-weight: 700;
		text-align: center;
		color: $secondary_text_color;
	}

}

.colspan-2 {
	grid-column-end: span 2;
}

.card {
	width: 300px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;

	h1 {
		font-size: 24px;
		text-align: center;
		height: 60px;
	}

	.imgbox {
		height: 400px;
	}

	.console_imgbox {
		height: 250px;
	}

	.console_imgbox,
	.imgbox {
		width: 300px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;

		img {
			display: block;
			width: 100%;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}

	.year,
	.consoles,
	.publisher {
		text-align: center;
		margin: 5px 0 10px 0;
	}

	&:hover {

		.console_imgbox,
		.imgbox {
			filter: sepia(100%);
		}

	}

}