header {
	min-height: 64px;
	background: $header_background;
	width: 100%;
	display: flex;
	z-index: 3;
	position: sticky;
	flex-wrap: wrap;
	justify-content: space-between;
	top: 0;

	.item {
		width: $header_item;
		display: inline-block;
		margin: 0;
		display: flex;

		h1 {
			font-family: 'Oswald', sans-serif;
			font-size: 48px;
			color: $secondary_text_color;
			margin: 0 30px;
			line-height: 48px;

			span {
				color: $tertairy_text_color;
			}
		}

	}

	.nav {
		min-width: $header_item;
		max-width: calc(#{$header_item}*2);
		margin: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;

		.nav_item {
			width: $header_item;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;

			form {
				width: 200px;
			}

			button,
			input {
				border: 1px solid $primary_color;
				background: $tertiary_color;
				padding: 1px;
				width: 130px;
				margin: 0.5em;
			}


			a {
				display: inline-block;
				padding: 0 16px;
				font-size: 1rem;
				margin: 0.5em;
				color: $primary_text_color;

				&:hover {
					text-decoration: underline;
					color: $secondary_text_color;
				}


			}
		}

	}

}