//Colors
$primary_color: #2d3047;
$secondary_color: #e84855;
$tertiary_color: #70b5ff;
$primary_text_color: #fff;
$secondary_text_color: #fffd82;
$tertairy_text_color: #1b998b;

//Header variables
$header_item: 320px;
$header_background: #151621;